<header id="content-header">
    <h1>Reviews for <%= link_to @movie.title, movie_path(@movie) %></h1>
</header>

<ol id="reviews">
    <% @reviews.each do |review| %>
        <li>
            <span class="review"><%= pluralize(review.stars, 'star') %></span>
            <span class="user">by <%= review.name %></span>
            <span class="date"><%= time_ago_in_words(review.created_at) %> ago</span>
            <p>
                &quot;<%= review.comment %>&quot;
            </p>
        </li>
    <% end %>
</ol>

<p><%= link_to "Write Review", new_movie_review_path(@movie), class: 'button ok review' %></p>
